<?xml version="1.0"?>
<model>
  <name>HippocAmpus with external vision pose estimation</name>
  <version>1.0</version>
  <sdf version='1.5'>hippocampus_vision_2.sdf</sdf>

  <author>
   <name>Nils Timmermann</name>
   <email>nils.timmermann@tuhh.de</email>
  </author>

  <description>
    HippoC
  </description>
</model>
